<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>BoozeGame</title>
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200" style="width: 100%">
        <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false" class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>

        <div :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'" class="fixed z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0">
            <div class="flex items-center justify-center mt-8">
                <div class="flex items-center">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}">

                    <span class="text-white text-2xl mx-2 font-semibold">BoozeGame</span>
                </div>
            </div>

            <nav class="mt-10">
                <a class="{% if g.active_menu_item == 'home' %}flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100{% else %}flex items-center mt-4 py-2 px-6 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endif %}" href="./home">
                    <img class="bi me-2" src="{{ url_for('static', filename='icons/font-awesome/house-door.svg') }}" width="24" height="24">

                    <span class="mx-3">{{ gettext("Home") }}</span>
                </a>

                <a class="{% if g.active_menu_item == 'play' %}flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100{% else %}flex items-center mt-4 py-2 px-6 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endif %}"
                    href="./play">
                    <img class="bi me-2" src="{{ url_for('static', filename='icons/font-awesome/caret-right-square.svg') }}" width="24" height="24" style="filter: invert(100%);">

                    <span class="mx-3">{{ gettext("Play") }}</span>
                </a>

                <a class="{% if g.active_menu_item == 'manageplayers' %}flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100{% else %}flex items-center mt-4 py-2 px-6 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endif %}"
                    href="./manageplayers">
                    <img class="bi me-2" src="{{ url_for('static', filename='icons/font-awesome/users-gear-solid.svg') }}" width="24" height="24" style="filter: invert(100%);">

                    <span class="mx-3">{{ gettext("Manage players") }}</span>
                </a>

                <a class="{% if g.active_menu_item == 'scoreboard' %}flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100{% else %}flex items-center mt-4 py-2 px-6 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endif %}"
                    href="./scoreboard">
                    <img class="bi me-2" src="{{ url_for('static', filename='icons/font-awesome/card-list.svg') }}" width="24" height="24" style="filter: invert(100%);">

                    <span class="mx-3">{{ gettext("Global scoreboard") }}</span>
                </a>
                <a class="flex items-center mt-4 py-2 px-6"><span class="mx-3"></span></a> <!-- Spacer -->
                <a class="flex items-center mt-4 py-2 px-6"><span class="mx-3"></span></a> <!-- Spacer -->
                <a class="{% if g.active_menu_item == 'contact' %}flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100{% else %}flex items-center mt-4 py-2 px-6 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endif %}"
                    href="./contact">
                    <img class="bi me-2" src="{{ url_for('static', filename='icons/font-awesome/envelope.svg') }}" width="24" height="24" style="filter: invert(100%);">

                    <span class="mx-3">{{ gettext("Contact") }}</span>
                </a>
                <a class="{% if g.active_menu_item == 'privacy' %}flex items-center mt-4 py-2 px-6 bg-gray-700 bg-opacity-25 text-gray-100{% else %}flex items-center mt-4 py-2 px-6 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endif %}"
                    href="./privacy">
                    <img class="bi me-2" src="{{ url_for('static', filename='icons/font-awesome/file-text.svg') }}" width="24" height="24" style="filter: invert(100%);">

                    <span class="mx-3">{{ gettext("Privacy Policy") }}</span>
                </a>"
a
            </nav>
        </div>
        <div class="flex-1 flex flex-col overflow-hidden">
            <header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-indigo-600">
                <div class="flex items-center">
                    <p>{% if current_user.is_authenticated %} {{ gettext("Logged in as") }}: {{ current_user.name }}{% endif %}</p>
                </div>

                <div class="flex items-center">
                    <div class="relative">
                        <p>{% if current_user.is_authenticated %}<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.location.href = './logout';">{{ gettext("Logout") }}</button> {% else %}<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.location.href = './login';">{{ gettext("Login") }}</button> <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.location.href = './register';">{{ gettext("Register new team") }}</button>{% endif %}</p>
                    </div>
                </div>
            </header>
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container mx-auto px-6 py-8">
                    {% block content %}

                    {% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>
</html>
