{% extends "base.html" %}
{% block content %}
{% if not current_user.is_authenticated %}
    <p>
        {{ gettext("Looks like you are not logged in. Want to ") }}
        <a href="./login" style="text-decoration: underline;">{{ gettext("login now") }}</a> ?
    </p>
{% else %}
    <p>Template: Manage Players</p>
{% endif %}

{% endblock %}
