{% extends "base.html" %}
{% block content %}
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="{{ url_for('static', filename='img/favicon.png') }}" alt="BoozeGame">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{{ gettext("Create new team") }}</h2>
    </div>
    <form class="mt-8 space-y-6" action="./register" method="POST">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="team-name" class="sr-only">Team Name</label>
          <input id="team-name" name="team-name" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Team Name">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>
        <div>
          <label for="password-check" class="sr-only">Password</label>
          <input id="password-check" name="password-check" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Re-Type Password">
        </div>
      </div>
      <h2 class="mt-6 text-center text-xl font-extrabold text-gray-900">{{ gettext("Team players") }}</h2>
      <h2 class="mt-6 text-center text-xs font-extrabold text-gray-900">{{ gettext("Type player names separated by commas") }}</h2>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="players" class="sr-only">Player names</label>
          <input id="players" name="players" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Julius,Peter,Maximilian">
        </div>
      </div>
      <br>
      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          {{ gettext("Register") }}
        </button>
      </div>
    </form>
    {% if passwords_not_identical %}<br><p>{{ gettext("Your password is not identical with the re-typed one") }}</p>{% endif %}
    {% if password_size_incorrect %}<br><p>{{ gettext("Your password should be between 4 and 20 characters long") }}</p>{% endif %}
    {% if team_already_exists %}
      <br><p>{{ gettext("A team with this name already exists, did you mean to") }} <a href="./login" class="font-medium text-indigo-600 hover:text-indigo-500">{{ gettext("login into your team") }}</a> ?</p>
    {% endif %}
  </div>
</div>
{% endblock %}
